<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall_springboot.mapper.BrandMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.mall_springboot.bean.mallmg.Brand">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="desc" property="desc"/>
        <result column="pic_url" property="picUrl"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="floor_price" property="floorPrice"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="delete" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, `desc`, pic_url, sort_order, floor_price, add_time, update_time, deleted
  </sql>
    <select id="SelectBrandCount" parameterType="com.cskaoyan.mall_springboot.bean.PageHelper" resultType="int">
        select
        count(*)
        from cskaoyan_mall_brand
        <where>
            <if test="mallPageHelper.id!=null">
                <if test="mallPageHelper.id!=''">
                    id=#{mallPageHelper.id}
                </if>
            </if>
            <if test="mallPageHelper.name!=null">
                <if test="mallPageHelper.name!=''">
                    and `name` LIKE CONCAT('%',#{mallPageHelper.name},'%')
                </if>
            </if>
        </where>
    </select>
    <select id="SelectBrandByPageIdName" parameterType="com.cskaoyan.mall_springboot.bean.PageHelper" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from cskaoyan_mall_brand
        <where>
            <if test="mallPageHelper.id!=null">
                <if test="mallPageHelper.id!=''">
                  id=#{mallPageHelper.id}
                </if>
            </if>
            <if test="mallPageHelper.name!=null">
                <if test="mallPageHelper.name!=''">
                    and `name` LIKE CONCAT('%',#{mallPageHelper.name},'%')
                </if>
            </if>
        </where>
        order by #{mallPageHelper.sort} #{mallPageHelper.order} limit #{offset},#{mallPageHelper.limit}
    </select>
    <select id="SelectMaxSortOrder" resultType="byte">
        select max(sort_order) from cskaoyan_mall_brand
    </select>
    <insert id="InsertBrand">
        insert into cskaoyan_mall_brand (<include refid="Base_Column_List" />)
        values (null ,#{brand.name},#{brand.desc},#{brand.picUrl},#{brand.sortOrder},#{brand.floorPrice},now(),now(),0)
    </insert>
    <select id="SelectBrandByPicUrl" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from cskaoyan_mall_brand
        where pic_url = #{picUrl}
    </select>
    <update id="UpdateBrand" parameterType="com.cskaoyan.mall_springboot.bean.mallmg.Brand">
        update cskaoyan_mall_brand
        set `name` = #{brand.name},`desc`=#{brand.desc},pic_url=#{brand.picUrl},floor_price=#{brand.floorPrice},update_time=now()
        where id=#{brand.id}
    </update>
    <delete id="DeleteBrandById" parameterType="int">
        delete from cskaoyan_mall_brand
        where id= #{id}
    </delete>
</mapper>