<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall_springboot.mapper.CategoryMapper">
    <resultMap id="BaseresultMap" type="com.cskaoyan.mall_springboot.bean.mallmg.Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="keywords" property="keywords"/>
        <result column="desc" property="desc"/>
        <result column="pid" property="pid"/>
        <result column="icon_url" property="iconUrl"/>
        <result column="pic_url" property="picUrl"/>
        <result column="level" property="level"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <resultMap id="TopresultMap" type="com.cskaoyan.mall_springboot.bean.mallmg.TopCategory">
        <id column="id" property="value"/>
        <result column="name" property="label"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, keywords, `desc`, pid, icon_url, pic_url, `level`
  </sql>
    <sql id="Base_Column_List1">
    id, `name`, keywords, `desc`, pid, icon_url, pic_url, `level`, sort_order, add_time, update_time,
    deleted
  </sql>
    <select id="SelectAllCategory" resultMap="BaseresultMap">
        select
        <include refid="Base_Column_List"/>
        from cskaoyan_mall_category
        where deleted=0
    </select>
    <select id="SelectAllTopCategory" resultMap="TopresultMap">
        select
        id ,`name`
        from cskaoyan_mall_category
        where pid=0 and deleted=0
    </select>
    <insert id="InsertCategory" >
        insert into cskaoyan_mall_category (<include refid="Base_Column_List1"/> )
        values (null,#{category.name},#{category.keywords},#{category.desc},#{category.pid},#{category.iconUrl},#{category.picUrl},#{category.level},2,now(),now(),0)
    </insert>
    <select id="SelectOneCategoryByIconUrl" resultMap="BaseresultMap">
        select <include refid="Base_Column_List1"/>
        from cskaoyan_mall_category
        where icon_url=#{iconUrl} and deleted=0
    </select>
    <update id="UpdateCategory">
        update cskaoyan_mall_category
        set `desc`=#{category.desc},icon_url=#{category.iconUrl},keywords=#{category.keywords},`level`=#{category.level},`name`=#{category.name},pic_url=#{category.picUrl}
        where id=#{category.id} and deleted=0
    </update>
    <update id="DeleteCategoryById">
        update  cskaoyan_mall_category
        set deleted=1
        where id=#{id}
    </update>
    <update id="DeleteCategoryByPid">
        update cskaoyan_mall_category
        set deleted=1
        where pid=#{pid}
    </update>

    <select id="getCategoryListByPid" resultMap="BaseresultMap">
        select
        <include refid="Base_Column_List"/>
        from cskaoyan_mall_category
        where pid=#{pid}
    </select>
    <select id="selectCategoryById" resultMap="BaseresultMap">
        select
        <include refid="Base_Column_List"/>
        from cskaoyan_mall_category
        where id=#{id}
    </select>
</mapper>