<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall_springboot.mapper.GoodsMapper">
    <resultMap id="baseGoodsMap" type="com.cskaoyan.mall_springboot.bean.goods.Goods">
        <result property="addTime" column="AddTime"/>
        <result property="brandId" column="BrandId"/>
        <result property="brief" column="Brief"/>
        <result property="categoryId" column="CategoryId"/>
        <result property="counterPrice" column="CounterPrice"/>
        <result property="deleted" column="Deleted"/>
        <result property="goodsSn" column="GoodsSn"/>
        <result property="id" column="Id"/>
        <result property="isHot" column="IsHot"/>
        <result property="isNew" column="IsNew"/>
        <result property="isOnSale" column="IsOnSale"/>
        <result property="keywords" column="KeyWords"/>
        <result property="name" column="Name"/>
        <result property="picUrl" column="PicUrl"/>
        <result property="retailPrice" column="RetailPrice"/>
        <result property="shareUrl" column="ShareUrl"/>
        <result property="sortOrder" column="SortOrder"/>
        <result property="unit" column="Unit"/>
        <result property="updateTime" column="UpdateTime"/>
        <result property="detail" column="Detail"/>
        <result property="gallery" column="Gallery" typeHandler="com.cskaoyan.mall_springboot.util.CrStringTypeHandlerUtils"/>
    </resultMap>

    <sql id="baseGoodsColumn">
        add_time AddTime,brand_id BrandId,brief Brief,category_id CategoryId,counter_price CounterPrice,deleted Deleted,
        gallery Gallery,goods_sn GoodsSn,id Id,is_hot IsHot,is_new IsNew,is_on_sale IsOnSale,keywords KeyWords,name Name,
        pic_url PicUrl,retail_price RetailPrice,share_url ShareUrl,sort_order SortOrder,unit Unit,update_time UpdateTime,
        detail Detail
    </sql>

    <select id="selectGoodsListByPage" resultMap="baseGoodsMap">
        select
        <include refid="baseGoodsColumn"/>
        from cskaoyan_mall_goods
        <where>
            <if test="goodsSn!=null">
                goods_sn like concat('%',#{goodsSn},'%')
            </if>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by #{sort} #{order}
        limit #{limit} offset #{offset}
    </select>
    <select id="selectTotal" resultType="int">
        select count(*) from cskaoyan_mall_goods
        <where>
            <if test="goodsSn!=null">
                goods_sn like concat('%',#{goodsSn},'%')
            </if>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>


    <resultMap id="AttributeMap" type="com.cskaoyan.mall_springboot.bean.goods.Attribute">
            <result property="id" column="Id"/>
            <result property="goodsId" column="GoodsId"/>
            <result property="attribute" column="Attribute"/>
            <result property="value" column="Value"/>
            <result property="addTime" column="AddTime"/>
            <result property="updateTime" column="UpdateTime"/>
            <result property="deleted" column="Deleted"/>
    </resultMap>
    <resultMap id="SpecificationMap" type="com.cskaoyan.mall_springboot.bean.goods.Specification">
            <result property="id" column="Id"/>
            <result property="goodsId" column="GoodsId"/>
            <result property="specification" column="Specification"/>
            <result property="value" column="Value"/>
            <result property="picUrl" column="PicUrl"/>
            <result property="addTime" column="AddTime"/>
            <result property="updateTime" column="UpdateTime"/>
            <result property="deleted" column="Deleted"/>
    </resultMap>

    <resultMap id="ProductMap" type="com.cskaoyan.mall_springboot.bean.goods.Product">
            <result property="id" column="proId"/>
            <result property="goodsId" column="proGoodsId"/>
            <result property="specifications" column="proSpecifications" typeHandler="com.cskaoyan.mall_springboot.util.CrStringTypeHandlerUtils"/>
            <result property="price" column="proPrice"/>
            <result property="number" column="proNumber"/>
            <result property="url" column="proUrl"/>
            <result property="addTime" column="proAddTime"/>
            <result property="updateTime" column="proUpdateTime"/>
            <result property="deleted" column="proDeleted"/>
    </resultMap>

    <select id="selectGoodsById" resultMap="baseGoodsMap">
        select add_time AddTime,brand_id BrandId,brief Brief,category_id CategoryId,counter_price CounterPrice,deleted Deleted,
                gallery Gallery,goods_sn GoodsSn,id Id,is_hot IsHot,is_new IsNew,is_on_sale IsOnSale,keywords KeyWords,
                name Name,pic_url PicUrl,retail_price RetailPrice,share_url ShareUrl,sort_order SortOrder,unit Unit,
                update_time UpdateTime,detail Detail
        from cskaoyan_mall_goods
        where id=#{id}
    </select>

    <select id="selectAttributeById" resultMap="AttributeMap">
        select id Id,
                goods_id GoodsId,
                attribute Attribute,
                value Value,
                add_time AddTime,
                update_time UpdateTime,
                deleted Deleted
                from cskaoyan_mall_goods_attribute
                where goods_id=#{id}
    </select>

    <select id="selectSpecificationById" resultMap="SpecificationMap">
        select id Id,goods_id GoodsId,specification Specification,value Value,pic_url PicUrl,
                add_time AddTime,update_time UpdateTime,deleted Deleted
                from cskaoyan_mall_goods_specification
                where goods_id=#{id}
    </select>

    <select id="selectProductById" resultMap="ProductMap">
        select  id proId,goods_id proGoodsId,specifications proSpecifications,price proPrice,number proNumber,url proUrl,
                add_time proAddTime,update_time proUpdateTime,deleted proDeleted
                from cskaoyan_mall_goods_product
                where goods_id=#{id}
    </select>

    <select id="selectCategoryPidById" resultType="int">
        select pid from cskaoyan_mall_category where id=#{categoryId}
    </select>



    <resultMap id="categoryMap" type="com.cskaoyan.mall_springboot.bean.mallmg.Category">
        <id property="value" column="id"/>
        <result property="label" column="name"/>
    </resultMap>
    <select id="selectCategory" resultMap="categoryMap">
        select id, `name` from cskaoyan_mall_category where pid=0
    </select>

    <select id="selectChildrenByPid" resultMap="categoryMap">
        select id, `name` from cskaoyan_mall_category where pid=#{pid}
    </select>

    <resultMap id="brandMap" type="com.cskaoyan.mall_springboot.bean.goods.Brand">
        <id property="value" column="id"/>
        <result property="label" column="name"/>
        </resultMap>
    <select id="selectBrand" resultMap="brandMap">
        select id, `name` from cskaoyan_mall_brand
    </select>



    <update id="updateAttributeByGoodsId">
        update cskaoyan_mall_goods_attribute
        <set>
            <if test="attribute.attribute!=null">
                attribute=#{attribute.attribute},
            </if>
            <if test="attribute.value!=null">
                `value`=#{attribute.value},
            </if>
            <if test="attribute.addTime!=null">
                add_time =#{attribute.addTime},
            </if>
            <if test="attribute.updateTime!=null">
                update_time=#{attribute.updateTime},
            </if>
            <if test="attribute.deleted!=null">
               deleted =#{attribute.deleted}
            </if>
        </set>
            where id=#{attribute.id} and goods_id=#{goodsId}
    </update>

     <update id="updateGoodsByGoodsId">
        update cskaoyan_mall_goods
        <set>
            <if test="goods.addTime!=null">
                add_time=#{goods.addTime},
            </if>
            <if test="goods.brandId!=null">
                brand_id=#{goods.brandId},
            </if>
            <if test="goods.categoryId!=null">
                category_id =#{goods.categoryId},
            </if>
            <if test="goods.counterPrice!=null">
                counter_price=#{goods.counterPrice},
            </if>
            <if test="goods.deleted!=null">
               deleted =#{goods.deleted},
            </if>
            <if test="goods.gallery.length!= 0">
                gallery=#{goods.gallery,typeHandler=com.cskaoyan.mall_springboot.util.CrStringTypeHandlerUtils},
            </if>
            <if test="goods.goodsSn!=null">
                goods_sn=#{goods.goodsSn},
            </if>
            <if test="goods.isHot!=null">
                is_hot =#{goods.isHot},
            </if>
            <if test="goods.isNew!=null">
                is_new=#{goods.isNew},
            </if>
            <if test="goods.isOnSale!=null">
                is_on_sale =#{goods.isOnSale},
            </if>
            <if test="goods.keywords!=null">
                keywords=#{goods.keywords},
            </if>
            <if test="goods.name!=null">
                `name`=#{goods.name},
            </if>
            <if test="goods.picUrl!=null">
                pic_url =#{goods.picUrl},
            </if>
            <if test="goods.retailPrice!=0">
                retail_price=#{goods.retailPrice},
            </if>
            <if test="goods.shareUrl!=null">
                share_url =#{goods.shareUrl},
            </if>
            <if test="goods.sortOrder!=null">
                sort_order=#{goods.sortOrder},
            </if>
            <if test="goods.unit!=null">
                unit =#{goods.unit},
            </if>
            <if test="goods.updateTime!=null">
                update_time=#{goods.updateTime},
            </if>
            <if test="goods.detail!=null">
                detail =#{goods.detail}
            </if>
        </set>
         where id=#{goods.id}
    </update>

    <update id="updateProductByGoodsId">
        update cskaoyan_mall_goods_product
        <set>
            <if test="product.specifications.length!=0">
                specifications=#{product.specifications,typeHandler=com.cskaoyan.mall_springboot.util.CrStringTypeHandlerUtils},
            </if>
            <if test="product.price!=null">
                 price=#{product.price},
            </if>
            <if test="product.number!=null">
                `number` =#{product.number},
            </if>
            <if test="product.url!=null">
                url=#{product.url},
            </if>
            <if test="product.addTime!=null">
                add_time =#{product.addTime},
            </if>
            <if test="product.updateTime!=null">
               update_time=#{product.updateTime},
            </if>
            <if test="product.deleted!=null">
                deleted =#{product.deleted}
            </if>
        </set>
        where goods_id=#{goodsId} and id=#{product.id}
    </update>

    <update id="updateSpecification">
        update cskaoyan_mall_goods_specification
        <set>
            <if test="specification.specification!=null">
                specification=#{specification.specification},
            </if>
            <if test="specification.value!=null">
                `value`=#{specification.value},
            </if>
            <if test="specification.picUrl!=null">
                pic_url =#{specification.picUrl},
            </if>
            <if test="specification.addTime!=null">
                add_time =#{specification.addTime},
            </if>
            <if test="specification.updateTime!=null">
                update_time=#{specification.updateTime},
            </if>
            <if test="specification.deleted!=null">
                deleted =#{specification.deleted}
            </if>
        </set>
        where goods_id=#{goodsId} and id=#{specification.id}
    </update>

    <insert id="insertSpecification">
        insert into cskaoyan_mall_goods_specification
        (id,goods_id,specification,`value`,pic_url,add_time,update_time,deleted)
        values (null,#{goodsId},#{specification.specification},#{specification.value},
        #{specification.picUrl},#{specification.addTime},#{specification.updateTime},#{specification.deleted})
    </insert>

    <delete id="deleteGoods">
        delete from cskaoyan_mall_goods
        where id=#{goods.id}
    </delete>


    <select id="selectIdByGoodsSn" resultType="int">
        select count(*) from cskaoyan_mall_goods where id=#{goodsSn}
    </select>
    <insert id="insertGoodsByGoodsSn">
        insert into cskaoyan_mall_goods
        (add_time,brand_id,brief,category_id,counter_price,deleted,goods_sn,is_hot,is_new,is_on_sale,keywords,name,
        pic_url,retail_price,share_url,sort_order,unit,update_time,detail,gallery)
        values
        (#{goods.addTime},#{goods.brandId},#{goods.brief},#{goods.categoryId},#{goods.counterPrice},
         #{goods.deleted},#{goods.goodsSn},#{goods.isHot},#{goods.isNew},#{goods.isOnSale},
         #{goods.keywords},#{goods.name},#{goods.picUrl},#{goods.retailPrice},#{goods.shareUrl},
         #{goods.sortOrder},#{goods.unit},#{goods.updateTime},#{goods.detail},
         #{goods.gallery,typeHandler=com.cskaoyan.mall_springboot.util.CrStringTypeHandlerUtils})
    </insert>

    <insert id="insertAttributeByGoodsSn">
        insert into cskaoyan_mall_goods_attribute
        (goods_id,attribute,value,add_time,update_time,deleted)
        values
        (#{goodsSn},#{attribute.attribute},#{attribute.value},#{attribute.addTime},#{attribute.updateTime},#{attribute.deleted})
    </insert>

    <insert id="insertProductByGoodsSn">
        insert into cskaoyan_mall_goods_product
        (goods_id,specifications,price,number,url,add_time,update_time,deleted)
        values
        (#{goodsSn},#{product.specifications,typeHandler=com.cskaoyan.mall_springboot.util.CrStringTypeHandlerUtils},#{product.price},
        #{product.number},#{product.url},#{product.addTime},#{product.updateTime},#{product.deleted})
    </insert>
</mapper>
