<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall_springboot.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.cskaoyan.mall_springboot.bean.system.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="enabled" jdbcType="BIT" property="enabled" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <resultMap id="RoleOpt" type="com.cskaoyan.mall_springboot.bean.system.RoleOptions">
    <result column="name" property="label"/>
    <result column="id" property="value"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, `desc`, enabled, add_time, update_time, deleted
  </sql>

  <!--查询角色总数-->
  <select id="selectCountRole" resultType="java.lang.Integer">
    select count(*) from cskaoyan_mall_role
  </select>

  <!--查询角色-->
  <select id="queryRoleList" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from cskaoyan_mall_role
    <where>
      <if test="name!=null">
        name like concat(concat('%',#{name}),'%')

      </if>
    </where>
    order by #{pg.sort} #{pg.order}
    limit #{pg.limit} offset #{pg.offset}
  </select>

  <update id="roleUpdate" parameterType="com.cskaoyan.mall_springboot.bean.system.Role">
    update cskaoyan_mall_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="roleDelete" parameterType="com.cskaoyan.mall_springboot.bean.system.Role">
    delete from cskaoyan_mall_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="roleInsert"  parameterType="com.cskaoyan.mall_springboot.bean.system.Role"  useGeneratedKeys="true" keyProperty="id">
    insert into cskaoyan_mall_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BIT},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>

  <select id="queryRoleById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from cskaoyan_mall_role where id = #{id}
  </select>

  <select id="queryRoleOpt" resultMap="RoleOpt">
    select id,name from cskaoyan_mall_role
  </select>
</mapper>