<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall_springboot.mapper.TopicMapper">
    <resultMap id="BaseResultMap" type="com.cskaoyan.mall_springboot.bean.topic.Topic">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" property="title"/>
        <result column="subtitle" property="subtitle"/>
        <result column="content" property="content"/>
        <result column="price" property="price"/>
        <result column="read_count" property="readCount"/>
        <result column="pic_url" property="picUrl"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="goods" property="goods" typeHandler="com.cskaoyan.mall_springboot.util.StringTypeHandlerUtils"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
      id,title,subtitle,content,price,read_count,pic_url,sort_order,goods,add_time,update_time,deleted
    </sql>
    <!--插入新的topic-->
    <insert id="insertSelective">
      insert into cskaoyan_mall_topic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            title,subtitle,
            <if test="content != null">
                content,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="readCount != null">
                read_count,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="sortOrder != null">
                sort_order,
            </if>
            <if test="goods.length != 0">
                goods,
            </if>
                add_time,update_time,
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                #{title},#{subtitle},
            <if test="content != null">
                #{content},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="readCount != null">
                #{readCount},
            </if>
            <if test="picUrl != null">
                #{picUrl},
            </if>
            <if test="sortOrder != null">
                #{sortOrder},
            </if>
            <if test="goods.length != 0">
                #{goods,typeHandler=com.cskaoyan.mall_springboot.util.StringTypeHandlerUtils},
            </if>
            now(),
            now(),
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>

    <!--更新topic-->
    <update id="updateByPrimaryKeySelective">
        update cskaoyan_mall_topic
        <set>
            title = #{title},
            subtitle = #{subtitle},
            content = #{content},
            price = #{price},
            read_count = #{readCount},
            pic_url = #{picUrl},
            sort_order = #{sortOrder},
            <if test="goods.length != 0">
            goods = #{goods,typeHandler=com.cskaoyan.mall_springboot.util.StringTypeHandlerUtils},
            </if>
            add_time = #{addTime},
            update_time = now(),
            deleted = #{deleted}
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectCountTopic" resultType="java.lang.Integer">
        select count(*) from cskaoyan_mall_topic
        <where>
            deleted != 1
            <if test="topic.title != null">
                and title like #{topic.title}
            </if>
            <if test="topic.subtitle != null">
                and subtitle like #{topic.subtitle}
            </if>
        </where>
    </select>

    <select id="queryAllTopicByPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cskaoyan_mall_topic
        <where>
            deleted != 1
            <if test="topic.title != null">
                and title like #{topic.title}
            </if>
            <if test="topic.subtitle != null">
                and subtitle like #{topic.subtitle}
            </if>
        </where>
        order by #{pu.sort} #{pu.order}
        limit #{pu.limit} offset #{pu.offset}
    </select>

    <!--按主键查询topic-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cskaoyan_mall_topic
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--查询所有topic-->
    <select id="queryAllTopic" resultMap="BaseResultMap">
        select id,title,subtitle,price,read_count,pic_url
        from cskaoyan_mall_topic
        where deleted = 0
    </select>

</mapper>