<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cskaoyan.mall_springboot.mapper.UserMapper">
    <!--1 会员管理//////////////////////////////////////////////////////-->
    <resultMap id="resultUserMap" type="com.cskaoyan.mall_springboot.bean.user.User">
        <result column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="last_login_ip" property="lastLoginIp"/>
        <result column="user_level" property="userLevel"/>
        <result column="nickname" property="nickname"/>
        <result column="mobile" property="mobile"/>
        <result column="avatar" property="avatar"/>
        <result column="weixin_openid" property="weixinOpenid"/>
        <result column="status" property="status"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_UserColumn_List">
        id,username,password,gender,birthday,last_login_time,last_login_ip,
        user_level,nickname,mobile,avatar,weixin_openid,status,add_time,update_time,deleted
    </sql>
    <select id="selectCounAlltUser" resultType="int">
        select count(*) from cskaoyan_mall_user
        <if test="user.username != null  or user.mobile != null ">
            <where>
                <if test="user.mobile != null ">
                    and mobile like concat(concat('%',#{user.mobile}),'%')
                </if>
                <if test="user.username != null ">
                    and username like concat(concat('%',#{user.username}),'%')
                </if>
            </where>
        </if>
    </select>
    <select id="selectAllUser" resultMap="resultUserMap">
        select <include refid="Base_UserColumn_List"/>
        from cskaoyan_mall_user
        <if test="user.username != null  or user.mobile != null ">
            <where>
                <if test="user.username != null ">
                    and username like concat(concat('%',#{user.username}),'%')
                </if>
                <if test="user.mobile != null ">
                    and mobile like concat(concat('%',#{user.mobile}),'%')
                </if>
            </where>
        </if>
        order by #{pageHelper.sort} #{pageHelper.order} limit #{pageHelper.limit} offset #{pageHelper.offset}
    </select>

    <!--2 收货地址//////////////////////////////////////////////////////-->
    <resultMap id="resultAddressMap" type="com.cskaoyan.mall_springboot.bean.user.Address">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="address_name" property="name"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="area_id" property="areaId"/>
        <result column="address" property="address"/>
        <result column="mobile" property="mobile"/>
        <result column="is_default" property="isDefault"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_AddressColumn_List">
          id,`name` as address_name,user_id,province_id,city_id,area_id,address,
          mobile,is_default,add_time,update_time,deleted
    </sql>
    <select id="selectCountAllAddress" resultType="int">
        select count(*) from cskaoyan_mall_address
        <if test="address != null">
            <if test="address.userId != 0  or address.name != 0 ">
                <where>
                    <if test="address.userId != 0 ">
                        and user_id like concat(concat('%',#{address.userId}),'%')
                    </if>
                    <if test="address.name != null ">
                        and `name` like concat(concat('%',#{address.name}),'%')
                    </if>
                </where>
            </if>
        </if>
    </select>
    <select id="selectAllAddress" resultMap="resultAddressMap">
        select <include refid="Base_AddressColumn_List"/>
        from cskaoyan_mall_address
        <if test="address != null">
            <if test="address.userId != 0  or address.name != null">
                <where>
                    <if test="address.userId != 0 ">
                        and user_id like concat(concat('%',#{address.userId}),'%')
                    </if>
                    <if test="address.name != null ">
                        and `name` like concat(concat('%',#{address.name}),'%')
                    </if>
                </where>
            </if>
        </if>
        order by #{pageHelper.sort} #{pageHelper.order} limit #{pageHelper.limit} offset #{pageHelper.offset}
    </select>

    <!--3 会员收藏//////////////////////////////////////////////////////-->
    <resultMap id="resultCollectMap" type="com.cskaoyan.mall_springboot.bean.user.Collect">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="value_id" property="valueId"/>
        <result column="type" property="type"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_CollectColumn_List">
          id,user_id,value_id,`type`,add_time,update_time,deleted
    </sql>
    <select id="selectCountAllCollect" resultType="int">
        select count(*) from cskaoyan_mall_collect
        <if test="collect.userId != 0  or collect.valueId != 0 ">
            <where>
                <if test="collect.userId != 0 ">
                    and user_id like concat(concat('%',#{collect.userId}),'%')
                </if>
                <if test="collect.valueId != 0 ">
                    and value_id like concat(concat('%',#{collect.valueId}),'%')
                </if>
            </where>
        </if>
    </select>
    <select id="selectAllCollect" resultMap="resultCollectMap">
        select <include refid="Base_CollectColumn_List"/>
        from cskaoyan_mall_collect
        <if test="collect.userId != 0  or collect.valueId != 0">
            <where>
                <if test="collect.userId != 0 ">
                    and user_id like concat(concat('%',#{collect.userId}),'%')
                </if>
                <if test="collect.valueId != 0 ">
                    and value_id like concat(concat('%',#{collect.valueId}),'%')
                </if>
            </where>
        </if>
        order by #{pageHelper.sort} #{pageHelper.order} limit #{pageHelper.limit} offset #{pageHelper.offset}
    </select>

    <!--4 会员足迹//////////////////////////////////////////////////////-->
    <resultMap id="resultFootPrintMap" type="com.cskaoyan.mall_springboot.bean.user.FootPrint">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_FootPrintColumn_List">
          id,user_id,goods_id,add_time,update_time,deleted
    </sql>
    <select id="selectCountAllFootPrint" resultType="int">
        select count(*) from cskaoyan_mall_footprint
        <if test="footprint.userId != 0  or footprint.goodsId != 0 ">
            <where>
                <if test="footprint.userId != 0 ">
                    and user_id like concat(concat('%',#{footprint.userId}),'%')
                </if>
                <if test="footprint.goodsId != 0 ">
                    and goods_id like concat(concat('%',#{footprint.goodsId}),'%')
                </if>
            </where>
        </if>
    </select>
    <select id="selectAllFootPrint" resultMap="resultFootPrintMap">
        select <include refid="Base_FootPrintColumn_List"/>
        from cskaoyan_mall_footprint
        <if test="footprint.userId != 0  or footprint.goodsId != 0">
            <where>
                <if test="footprint.userId != 0 ">
                    and user_id like concat(concat('%',#{footprint.userId}),'%')
                </if>
                <if test="footprint.goodsId != 0 ">
                    and goods_id like concat(concat('%',#{footprint.goodsId}),'%')
                </if>
            </where>
        </if>
        order by #{pageHelper.sort} #{pageHelper.order} limit #{pageHelper.limit} offset #{pageHelper.offset}
    </select>

    <!--5 搜索历史//////////////////////////////////////////////////////-->
    <resultMap id="resultHistoryMap" type="com.cskaoyan.mall_springboot.bean.user.History">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="keyword" property="keyword"/>
        <result column="from" property="from"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_HistoryColumn_List">
          id,user_id,keyword,`from`,add_time,update_time,deleted
    </sql>
    <select id="selectCountAllHistory" resultType="int">
        select count(*) from cskaoyan_mall_search_history
        <if test="history.userId != 0  or history.keyword != null ">
            <where>
                <if test="history.userId != 0 ">
                    and user_id like concat(concat('%',#{history.userId}),'%')
                </if>
                <if test="history.keyword != null ">
                    and keyword like concat(concat('%',#{history.keyword}),'%')
                </if>
            </where>
        </if>
    </select>
    <select id="selectAllHistory" resultMap="resultHistoryMap">
        select <include refid="Base_HistoryColumn_List"/>
        from cskaoyan_mall_search_history
        <if test="history.userId != 0  or history.keyword != null">
            <where>
                <if test="history.userId != 0 ">
                    and user_id like concat(concat('%',#{history.userId}),'%')
                </if>
                <if test="history.keyword != null ">
                    and keyword like concat(concat('%',#{history.keyword}),'%')
                </if>
            </where>
        </if>
        order by #{pageHelper.sort} #{pageHelper.order} limit #{pageHelper.limit} offset #{pageHelper.offset}
    </select>

    <!--6 意见反馈//////////////////////////////////////////////////////-->
    <resultMap id="resultFeedBackMap" type="com.cskaoyan.mall_springboot.bean.user.FeedBack">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="mobile" property="mobile"/>
        <result column="feed_type" property="feedType"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="has_picture" property="hasPicture"/>
        <result column="pic_urls" property="picUrls"/>
        <result column="add_time" property="addTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>
    <sql id="Base_FeedBackColumn_List">
          id,user_id,username,mobile,feed_type,content,status,
          has_picture,pic_urls,add_time,update_time,deleted
    </sql>
    <select id="selectCountAllFeedBack" resultType="int">
        select count(*) from cskaoyan_mall_feedback
        <if test="feedback.username != null  or feedback.id != 0 ">
            <where>
                <if test="feedback.id != 0 ">
                    and mobile like concat(concat('%',#{feedback.id}),'%')
                </if>
                <if test="feedback.username != null ">
                    and username like concat(concat('%',#{feedback.username}),'%')
                </if>
            </where>
        </if>
    </select>
    <select id="selectAllFeedBack" resultMap="resultFeedBackMap">
        select <include refid="Base_FeedBackColumn_List"/>
        from cskaoyan_mall_feedback
        <if test="feedback.username != null  or feedback.id != 0">
            <where>
                <if test="feedback.username != null ">
                    and username like concat(concat('%',#{feedback.username}),'%')
                </if>
                <if test="feedback.id != 0 ">
                    and id like concat(concat('%',#{feedback.id}),'%')
                </if>
            </where>
        </if>
        order by #{pageHelper.sort} #{pageHelper.order} limit #{pageHelper.limit} offset #{pageHelper.offset}
    </select>

</mapper>