<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall_springboot.mapper.login.LoginPermissionMapper">

    <resultMap id="BaseResultMapPermission" type="com.cskaoyan.mall_springboot.bean.system.Permission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission" property="permission" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <select id="selectByIds" resultMap="BaseResultMapPermission">
        select permission
        from cskaoyan_mall_permission
        where role_id = #{roleId}
    </select>





</mapper>